*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 20px 20px;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    padding: 10px;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(114, 107, 107);
    border-radius: 25px;
    margin: 20px 10px;
    color: blanchedalmond;
    font-size: 20px;
    cursor: pointer;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: rgb(211, 201, 201);
}

.movie{
    width: 300px;
    margin: 20px 20px;
    transition: all 0.9s ease;
    background-color: rgb(211, 201, 201);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
    position: relative;
    border-radius: 5px;
}

.movie:hover .overview{
    display: block;
    transition: all 0.9s ease;
}

.rating{
    background-color: rgb(11, 18, 20);
    font-weight: bold;
}

.rating.green{
    color: green;
}

.rating.orange{
    color: orange;
}

.rating.red{
    color: red;
}

.movie-title{
    
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

img{
    border-radius: 5px;
    width: 100%;
    
}

.overview{
    border-radius: 5px;
    height: 300px;
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: all 0.9s ease;
}